@import url("style.sass");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;

    --yellow: #FFE715;
    --dark-grey: #232B32;
    --light-grey: #3F4449;
    --dark: #101920;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

/* SIDEBAR */
.top_navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #323233;
   box-shadow: 1px 0 2px rgba(0,0,0,0.125);
   display: flex;
   align-items: center;
}

.top_navbar .logo{
    width: 250px;
    font-size: 25px;
    font-weight: 700;
    padding: 0 25px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-right: 1px solid #f5f5f5;
}

.top_navbar .menu{
    width: calc(100% - 250px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_navbar .hamburger{
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.top_navbar .hamburger:hover{
    color: #007dc3;
}

.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: 100%;
    background: #042331;
}

.sidebar ul li a{
    display: block;
    padding: 16px 25px;
    border-bottom: 1px solid #03374e;
    color: #0e94d4;
}

.sidebar ul li a .icon{
    font-size: 18px;
    color: white;
    vertical-align: middle;
}

.sidebar ul li a .text{
    margin-left: 19px;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.sidebar ul li a:hover{
    background: #0e94d4;
    color: #fff;
}

.hover_collapse .sidebar{
    width: 70px;
}

.hover_collapse .sidebar ul li a .text{
    display: none;
}

/* home */
.navLogo{
    width: 100%;
    margin-bottom: 25%;
}

.nav{
    position: fixed;
    height: max-content;
    padding: 1%;
    background-color: var(--dark-grey);
    margin-right: 0%!important;
    height: 100%;
    top: 0;
    left: 0;
    width: 150px;
    margin-right: -150px;
}

.navTab{
    width: 99%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5%;
    margin-top: .5%;
}

#content{
    height: 1000px;
    width: auto;
    margin-left: auto;
    padding: 5px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.pageTitle{
    color: white;
    width: 99%;
    margin-bottom: 0%;
}

.musicDisplay{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5%;
}

.box{
    background-color: var(--dark-grey);
    border-left: 5px solid var(--yellow);
    width: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.songImg{
    width: 23%;
}

.songInfo{
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}

.songTitle{
    width: 200px;
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .5px;
}

p{
    padding: 0;
    margin: 0;
}

.boxLink{
    padding: 0%;
    width: 32.33%;
    text-decoration: none;
    color: black;
    margin-bottom: .9%;
}

.boxLink .songInfo{
    height: 80px;
}

.boxLink:hover .box{
    border-left: 5px solid whitesmoke;
}

.boxLink .box{
    width: 100%;
    height: 100%;
}

/* player */
#footer{
    position: fixed;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    left: 0;
    bottom: 0;
    background-color: black;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.next-track,
.prev-track{
    padding: 15px;
    opacity: 0.8;

    transition: opacity .2s;
}

.playpause-track:hover,
.next-track:hover,
.prev-track:hover{
    opacity: 1;
}

.playerCenter .slider_container{
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container{
    width: 283px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider, .volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: lightgray;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover{
    opacity: 1;
}

.seek_slider{
    width: 60%;
}

.volume_slider{
    width: 30%;
}

.current-time,
.total-duration{
    padding: 10px;
}

.buttons i{
    width: 150%;
}

i.bi-volume-down-fill,
i.bi-volume-up-fill{
    padding: 10px;
}

i.bi-play-circle-fill,
i.fa-pause-circle,
i.bi-skip-end-fill,
i.bi-skip-start-fill{
    cursor: pointer;
}

.playerCenter{
    width: 705px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #footer .playerImg-flex{
    display: flex;
    width: 283px;
}

.playerImg-flex .playerImg{
    width: 35%;
}